<%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/stylesheets/user.css" />
  </head>
<body>

<nav>
  <h1>Express-app</h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
</nav>

<%- include('../partials/footer.ejs') %>