<%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/stylesheets/user.css" />
  </head>
<body>

<nav>
  <h2>Express-app</h2>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
</nav>

<main>
  <h1>An error has occurred while processing your request</h1>
  <form action="http://localhost:3000/users/new" method="GET">
    <label for="signup">Try Again</label>
    <button type="submit">Signup</button>
  </form>
  <form action="http://localhost:3000/users/new" method="GET">
    <label for="login">Try Again</label>
    <button type="submit">Login</button>
  </form>
</main>

<%- include('../partials/footer.ejs') %>