<div>
    <nav>
        <div>
            <h1>Express-app</h1>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#" >Sign-In</a>
                </li>
                <li>
                    <a href="#">Sign-Up</a>
                </li>
            </ul>
        </div>
    </nav>
</div>