<link rel="stylesheet" href="/stylesheets/core/nav.css" />

<nav>
  <h3>Express-app</h3>
  <h1>ZnoobTube</h1>
  <ul>
    <li>
      <a href="http://localhost:3000/users/login">Sign-In</a>
    </li>
    <li>
      <a href="http://localhost:3000/users/new">Sign-Up</a>
    </li>
  </ul>
</nav>
