<%- include('partials/head.ejs') %>

<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div>
        <h3>ZnoobTube</h3>
      </div>
      <div>
        <button type="submit" name="register" formaction="GET">Register</button>
      </div>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p></p>
<%- include('partials/footer.ejs') %>
