body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: antiquewhite;
  background-color: black;
}

nav {
  display: flex;
}

nav div {
  display: flex;
  margin: auto;
}

nav button {
  min-width: 10vmin;
  min-height: 5vmin;

}

footer {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: auto;
}