nav {
  display: flex;
  border-bottom: 0.2em solid #962B09;
}

nav h1 {
  font-size: 3rem;
  margin: 0 auto;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 1rem;
  /*padding: 0 25px;*/
}

nav a {
  border: 3px double burlywood;
  background-color: dimgray;
  padding: 7px;
  text-decoration-line: none;
  color: cadetblue;
}

nav a:hover {
  cursor: pointer;
}